body{
    background-color: #0ca2b9;
    width: 80%;
    margin-left: 10%;
}
h1{
    text-align: center;
    background-color: #900043;
    color:#FFFFFF;
    font-family: 'calibri';
    font-style: italic;
}
.label{
    width: 40rem;
}
#submit, #reset{
    font-weight: bold;
    font-family: 'cantara';
    background-color: #556b2f;
    width: 10rem;
    height: 35px;
    cursor: pointer;
}
td{
    height: 2rem;
}
#result{
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color:#556b2f
}
