html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.login-container {
    margin: auto;
    width: 50%;
    height: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #282828;
    color: white;
    border-radius: 10px;
}

.signup-container {
    margin: auto;
    width: 50%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #282828;
    color: white;
    border-radius: 10px;
}

.inp {
    background-color: transparent;
}

body {
  margin-bottom: 60px;
}