.navbar{
    height: 100px;
    
}
.nav-flex{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.profile{
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 25%;

}

.profile > a > svg{
    color: #ff5858;
}

.profile > a > svg:hover{
    cursor: pointer;
    color: #00ff0d;
}

.profile-ico{
    color: #004271;
}
.head-link{
    position: relative;
    top: 25%;
}
