body{
    padding:0;
    margin: 0;
    background-color: #689ffe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.container{
    width: 500px;
    height: 500px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}
.inner-container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    margin: 0;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4a4a4a;
}
a{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
    background-color: #8294fb;
    color: aliceblue;
}
a:hover{
    background-color: #92b4fd;
}