<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="nav-flex">
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarToggleExternalContent" [attr.aria-expanded]="isNavbarOpen ? 'true' : 'false'" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h3 class="text-dark head-link">Interns Connect</h3>
      <div class="profile">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16" class="profile-ico">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
        </svg>
      </div>
    </div>
</nav>

  <div class="collapse p-4" [ngbCollapse]="!isNavbarOpen" id="navbarToggleExternalContent" >
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#top5">Critic's top 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About Critic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  