@model LoggedIn
@{
    ViewData["Title"] = "InternView";
}

<div class="header-container" id="intern-view">
    <nav class="navbar bg-light login-nav">
      <a class="navbar-brand text-info profile-brand" asp-controller="Profile" asp-action="GetProfileDetails" >
          <img src="~/img/profile.png" width="35px" height="35px"/>
          <input class="navbar-brand text-info get-profile" type="submit" value="Profile"/>
      </a>

      <div class="flex-column">
          <img src="~/img/intern-icon.png" width="40px" height="40px"/>
          <a class="navbar-brand text-info heading" href="#">InternConnect</a>
      </div>

      <form class="form-inline search-brand">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>      
          
    </nav>

</div>

