<nav class="navbar">
    <ul>
      <li><a routerLink="./home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a href="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      <li><a href="/calculator" routerLinkActive="active" ariaCurrentWhenActive="page" >Calculator</a></li>
      <li><a href="/login" routerLinkActive="active" ariaCurrentWhenActive="page" >Login</a></li>      
      <li><a href="/click-render" routerLinkActive="active" ariaCurrentWhenActive="page" >ClickRender</a></li>      
      <li><a href="/students" routerLinkActive="active" ariaCurrentWhenActive="page" >Student</a></li>  
      <li><a href="/students-a" routerLinkActive="active" ariaCurrentWhenActive="page" >Student Select</a></li>      




    </ul>
    <div class="profile-container">
        <img [src]="profileImage" class="profile-pic">
        <p class="profile-text">Profile</p>
    </div>
  </nav>
