td{
    height: 20px;
    width: 300px;
    align-items:end;
    border: 1px solid  #96D4D4;;
    text-align: center;
}
th{
    height: 50px;
    width: 300px;
    align-items:end;
    border: 1px solid #96D4D4;
}

table{
    color: rgb(255, 255, 255);
    margin: auto;
    width: 60%;
}

select{
    background-color: rgb(92, 92, 92);
    color: white;
    border: none;
}